
<div class="header">
	<h1>CiNECRATE</h1>
	<div>
		<div class="row">
			<div class="column">
				<i class="fas fa-arrow-left fa-2xl back-icon"></i>
			</div>
			<div class="column">
				<i class="fas fa-save fa-2xl" style="float:right"></i>
			</div>
		</div>
	</div>
</div>

@code {

}
