@page "/"
<link rel="stylesheet" href="~/css/styles.css" />

<div class="flex-box-2">
    <h1> Cinecrate</h1>
    <img src="add.png" style="height:60px;width:60px" onclick="window.open(this.src)">
    <img src="search.png" style="height:60px;width:60px" onclick="window.open(this.src)">
    <img src="filter.png" style="height:60px;width:60px" onclick="window.open(this.src)">
</div>

<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'RECOMMENDED')">RECOMMENDED</button>
    <button class="tablinks" onclick="openCity(event, 'TOP_RATED')">TOP RATED</button>
    <button class="tablinks" onclick="openCity(event, 'RELEASE_DATE')">RELEASE DATE</button>
    <button class="tablinks" onclick="openCity(event, 'A-Z')">A-Z</button>
</div>

<!-- Tab content -->
<div id="RECOMMENDED" class="tabcontent">
    <h3>RECOMMENDED MOVIE LIST </h3>
    <p>Select the Movie to play </p>
    <!-- The grid: four columns -->
    <ul class="list">
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="document.location='default.html?imgIndex=img_nature.jpg'">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="GetIndex(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_nature.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
    </ul>
</div>

<div id="TOP_RATED" class="tabcontent">
    <h3>TOP RATED MOVIE LIST </h3>
    <p>Select the Movie to play </p>
    <ul class="list">
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_mountains.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
    </ul>
</div>

<div id="RELEASE_DATE" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
    <ul class="list">
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
    </ul>

</div>
<div id="A-Z" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
    <ul class="list">
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
        <li class="list-item">
            <img src="img_lights.jpg" alt="Nature" style="width:90%" onclick="myFunction(this);">
        </li>
    </ul>
</div>
