@page "/"
@inject NavigationManager Navigation

<div class="blue-bar">
    <h1 class="app-title">Cinecrate</h1>
    <div class="icon-container">
        <button class="icon-btn" @onclick="NavigateToCreateMovie"><i class="fas fa-plus fa-2xl"></i></button>
        <button class="icon-btn" @onclick="NavigateToMovieDetails"><i class="fas fa-search fa-2xl"></i></button>
        @*  Search button currently setup to load movie detail page. Will need to change this once search code is provided. *@
        <button class="icon-btn" @onclick="NavigateToSwagger"><i class="fas fa-filter fa-2xl"></i></button>
    </div>
    <div class="text-buttons">
        <span class="text-btn" onclick="setActiveButton(this)">RECOMMENDED</span>
        <span class="text-btn" onclick="setActiveButton(this)">TOP RATED</span>
        <span class="text-btn" onclick="setActiveButton(this)">RELEASE DATE</span>
        <span class="text-btn" onclick="setActiveButton(this)">A-Z</span>
    </div>
</div>
<div class="black-box">
    <!-- ... any content inside the black box ... -->
</div>


@code {
    private void NavigateToCreateMovie()
    {
        Navigation.NavigateTo("create-movie");
    }
    private void NavigateToMovieDetails()
    {
        Navigation.NavigateTo("movie-details");
    }
    private void NavigateToSwagger()
    {
        Navigation.NavigateTo("https://127.0.0.1:7189/swagger");
    }
}
